<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <ul>
          <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        {%  if username is none %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
             {% endif %}
        </ul>

        <div class="wrapper">

        <form class="form-login" action="" method="post">
            <h2>Log In</h2>
            {%  if error == "not valid" %}
                <h3>Username or password is invalid!</h3>
            {% endif %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" aria-describedby="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <button type="submit" class="form-button btn btn-primary btn-block">Log In</button>

        </form>
    </div>
    </body>
</html>




